header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-template-areas:
  'name . . headerMenu headerMenu';

    position: fixed;
    width: 100%;
    height: 90px;
    top: 0px;
    left: 0px;
    z-index: 10;

    font-size: 36px;
    line-height: 42px;
    color: black;
}

.headerItem-name{
    grid-area: name;
}

.headerItem-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: headerMenu;
}

.headerItem-menuItem:hover, headerItem-menuItem:focus, headerItem-menuItem:active{
    color: brown;
}